<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ChapterMapper">
    <resultMap id="BaseResultMap" type="com.yxsd.kanshu.product.model.Chapter">
        <id column="chapter_id" property="chapterId" jdbcType="BIGINT" />
        <result column="volume_id" property="volumeId" jdbcType="BIGINT" />
        <result column="book_id" property="bookId" jdbcType="BIGINT" />
        <result column="title" property="title" jdbcType="VARCHAR" />
        <result column="idx" property="idx" jdbcType="INTEGER" />
        <result column="price" property="price" jdbcType="INTEGER" />
        <result column="word_count" property="wordCount" jdbcType="INTEGER" />
        <result column="shelf_status" property="shelfStatus" jdbcType="INTEGER" />
        <result column="is_free" property="isFree" jdbcType="INTEGER" />
        <result column="content" property="content" jdbcType="LONGVARCHAR" />
        <result column="content_md5" property="contentMd5" jdbcType="VARCHAR" />
        <result column="copyright_code" property="copyrightCode" jdbcType="VARCHAR" />
        <result column="copyright_book_id" property="copyrightBookId" jdbcType="BIGINT" />
        <result column="copyright_volume_id" property="copyrightVolumeId" jdbcType="BIGINT" />
        <result column="copyright_chapter_id" property="copyrightChapterId" jdbcType="BIGINT" />
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    </resultMap>
    <sql id="Base_Where">
        <if test="chapterId != null"> and chapter_id= #{chapterId}</if>
        <if test="bookId != null"> and book_id= #{bookId}</if>
        <if test="volumeId != null"> and volume_id= #{volumeId}</if>
        <if test="title != null and title != ''"> and title= #{title}</if>
        <if test="shelfStatus != null"> and shelf_status= #{shelfStatus}</if>
        <if test="isFree != null"> and is_free= #{isFree}</if>
        <if test="startIdx"><![CDATA[ and idx >= #{startIdx} ]]></if>
        <if test="endIdx"><![CDATA[ and idx <= #{endIdx} ]]></if>
        <if test="copyrightCode != null and copyrightCode != ''"> and copyright_code= #{copyrightCode}</if>
        <if test="copyrightBookId != null"> and copyright_book_id= #{copyrightBookId}</if>
        <if test="copyrightVolumeId != null"> and copyright_volume_id= #{copyrightVolumeId}</if>
        <if test="copyrightChapterId != null"> and copyright_chapter_id= #{copyrightChapterId}</if>
    </sql>
    <sql id="Base_Column_List">
        chapter_id,volume_id,book_id,title,idx,price,word_count,shelf_status,is_free,content_md5,copyright_code,
        copyright_book_id,copyright_volume_id,copyright_chapter_id,update_date,create_date
    </sql>

    <insert id="insertByMap" useGeneratedKeys="true" keyProperty="chapterId" parameterType="map">
        insert into chapter${num}
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="chapterId != null">chapter_id,</if>
            <if test="volumeId != null">volume_id,</if>
            <if test="bookId != null">book_id,</if>
            <if test="title != null and title != ''">title,</if>
            <if test="idx != null">idx,</if>
            <if test="price != null">price,</if>
            <if test="wordCount != null">word_count,</if>
            <if test="shelfStatus != null">shelf_status,</if>
            <if test="isFree != null">is_free,</if>
            <if test="content != null and content != ''">content,</if>
            <if test="contentMd5 != null and contentMd5 != ''">content_md5,</if>
            <if test="copyrightCode != null and copyrightCode != ''">copyright_code,</if>
            <if test="copyrightBookId != null">copyright_book_id,</if>
            <if test="copyrightVolumeId != null">copyright_volume_id,</if>
            <if test="copyrightChapterId != null">copyright_chapter_id,</if>
            <if test="updateDate != null">update_date,</if>
            <if test="createDate != null">create_date,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="chapterId != null">
                #{chapterId,jdbcType=BIGINT},
            </if>
            <if test="volumeId != null">
                #{volumeId,jdbcType=BIGINT},
            </if>
            <if test="bookId != null">
                #{bookId,jdbcType=BIGINT},
            </if>
            <if test="title != null and title != ''">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="idx != null">
                #{idx,jdbcType=INTEGER},
            </if>
            <if test="price != null">
                #{price,jdbcType=INTEGER},
            </if>
            <if test="wordCount != null">
                #{wordCount,jdbcType=INTEGER},
            </if>
            <if test="shelfStatus != null">
                #{shelfStatus,jdbcType=INTEGER},
            </if>
            <if test="isFree != null">
                #{isFree,jdbcType=INTEGER},
            </if>
            <if test="content != null and content != ''">
                #{content,jdbcType=LONGVARCHAR},
            </if>
            <if test="contentMd5 != null and contentMd5 != ''">
                #{contentMd5,jdbcType=VARCHAR},
            </if>
            <if test="copyrightCode != null and copyrightCode != ''">
                #{copyrightCode,jdbcType=VARCHAR},
            </if>
            <if test="copyrightBookId != null">
                #{copyrightBookId,jdbcType=BIGINT},
            </if>
            <if test="copyrightVolumeId != null">
                #{copyrightVolumeId,jdbcType=BIGINT},
            </if>
            <if test="copyrightChapterId != null">
                #{copyrightChapterId,jdbcType=BIGINT},
            </if>
            <if test="updateDate != null">
                #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByMap" parameterType="map">
        update chapter${num}
        <set>
            <if test="volumeId != null">
                volume_id = #{volumeId,jdbcType=BIGINT},
            </if>
            <if test="bookId != null">
                book_id = #{bookId,jdbcType=BIGINT},
            </if>
            <if test="title != null and title != ''">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="idx != null">
                idx = #{idx,jdbcType=INTEGER},
            </if>
            <if test="price != null">
                price = #{price,jdbcType=INTEGER},
            </if>
            <if test="wordCount != null">
                word_count = #{wordCount,jdbcType=INTEGER},
            </if>
            <if test="shelfStatus != null">
                shelf_status = #{shelfStatus,jdbcType=INTEGER},
            </if>
            <if test="isFree != null">
                is_free = #{isFree,jdbcType=INTEGER},
            </if>
            <if test="content != null and content != ''">
                content = #{content,jdbcType=LONGVARCHAR},
            </if>
            <if test="contentMd5 != null and contentMd5 != ''">
                content_md5 = #{contentMd5,jdbcType=VARCHAR},
            </if>
            <if test="copyrightCode != null and copyrightCode != ''">
                copyright_code = #{copyrightCode,jdbcType=VARCHAR},
            </if>
            <if test="copyrightBookId != null">
                copyright_book_id = #{copyrightBookId,jdbcType=BIGINT},
            </if>
            <if test="copyrightVolumeId != null">
                copyright_volume_id = #{copyrightVolumeId,jdbcType=BIGINT},
            </if>
            <if test="copyrightChapterId != null">
                copyright_chapter_id = #{copyrightChapterId,jdbcType=BIGINT},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate,jdbcType=TIMESTAMP},
            </if>
        </set>
        where
        chapter_id = #{chapterId,jdbcType=BIGINT}
    </update>


    <select id="getAll" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="Base_Column_List" />
        <if test="type == 1">,content </if>
        from chapter${num} where 1=1
        <include refid="Base_Where" />
        order by idx
    </select>
    <select id="pageCount" resultType="java.lang.Integer" parameterType="map">
        select count(1) from chapter${num} where 1=1
        <include refid="Base_Where" />
    </select>
    <select id="pageData" resultMap="BaseResultMap" parameterType="map">
        select <include refid="Base_Column_List" />
        from chapter${num} where 1=1
        <include refid="Base_Where" />
        order by create_date desc
    </select>

    <select id="updatedChapterCount" resultType="java.lang.Integer" parameterType="map">
        select count(1) from chapter${num} where 1=1
        and book_id= #{bookId}
        <![CDATA[ and idx > ${index} ]]>
    </select>
</mapper>
