<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="UserWelfareMapper" >
  <resultMap id="BaseResultMap" type="com.yxsd.kanshu.model.UserWelfare">
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="days" property="days" jdbcType="INTEGER" />
    <result column="money" property="money" jdbcType="INTEGER" />
    <result column="channels" property="channels" jdbcType="VARCHAR" />
    <result column="channels_no" property="channelsNo" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Where">
    <if test="id != null"> and id= #{id}</if>
  </sql>
  <sql id="Base_Column_List">
    id,days,money,channels,channels_no,create_date, update_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from user_welfare
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from user_welfare
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yxsd.kanshu.model.UserWelfare" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user_welfare (days,money,channels,channels_no, create_date, update_date)
    values (#{days,jdbcType=INTEGER},#{money,jdbcType=INTEGER},#{channels,jdbcType=VARCHAR},
    #{channelsNo,jdbcType=VARCHAR},#{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.yxsd.kanshu.model.UserWelfare" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user_welfare
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="days != null" >
        days,
      </if>
      <if test="money != null" >
        money,
      </if>
      <if test="channels != null and channels != ''">
        channels,
      </if>
      <if test="channelsNo != null and channelsNo != ''">
        channels_no,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="days != null" >
        #{days,jdbcType=INTEGER},
      </if>
      <if test="money != null" >
        #{money,jdbcType=INTEGER},
      </if>
      <if test="channels != null and channels != ''">
        #{channels,jdbcType=VARCHAR},
      </if>
      <if test="channelsNo != null and channelsNo != ''">
        #{channelsNo,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yxsd.kanshu.model.UserWelfare" >
    update user_welfare
    <set >
      <if test="days != null">
        days = #{days,jdbcType=INTEGER},
      </if>
      <if test="money != null">
        money = #{money,jdbcType=INTEGER},
      </if>
      <if test="channels != null and channels != ''">
        channels = #{channels,jdbcType=VARCHAR},
      </if>
      <if test="channelsNo != null and channelsNo != ''">
        channels_no = #{channelsNo,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yxsd.kanshu.model.UserWelfare" >
    update user_welfare
    set days = #{days,jdbcType=INTEGER},
      money = #{money,jdbcType=INTEGER},
      channels = #{channels,jdbcType=VARCHAR},
      channels_no = #{channelsNo,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="getAll" resultMap="BaseResultMap" parameterType="map">
    select <include refid="Base_Column_List" />
    from user_welfare where 1=1
    <include refid="Base_Where" />
  </select>
</mapper>