<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="UserAccountMapper">
    <resultMap id="BaseResultMap" type="com.yxsd.kanshu.ucenter.model.UserAccount">
        <id column="account_id" property="accountId" jdbcType="BIGINT" />
        <result column="user_id" property="userId" jdbcType="BIGINT" />
        <result column="money" property="money" jdbcType="INTEGER" />
        <result column="virtual_money" property="virtualMoney" jdbcType="INTEGER" />
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    </resultMap>
    <sql id="Base_Where">
        <if test="accountId != null"> and account_id= #{accountId}</if>
        <if test="userId != null"> and user_id= #{userId}</if>
        <if test="money != null"> and money= #{money}</if>
        <if test="virtualMoney != null"> and virtual_money= #{virtualMoney}</if>
    </sql>
    <sql id="Base_Column_List">
        account_id,user_id ,money,virtual_money,create_date,update_date
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select <include refid="Base_Column_List" />
        from user_account where account_id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from user_account where account_id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="accountId" parameterType="com.yxsd.kanshu.ucenter.model.UserAccount">
        insert into user_account
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="accountId != null">account_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="money != null">money,</if>
            <if test="virtualMoney != null">virtual_money,</if>
            <if test="createDate != null">create_date,</if>
            <if test="updateDate != null">update_date,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="accountId != null">
                #{accountId,jdbcType=BIGINT},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="money != null">
                #{money,jdbcType=INTEGER},
            </if>
            <if test="virtualMoney != null">
                #{virtualMoney,jdbcType=INTEGER},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateDate != null">
                #{updateDate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.yxsd.kanshu.ucenter.model.UserAccount">
        update user_account
        <set>
            <if test="userId != null">
                user_id= #{userId,jdbcType=BIGINT},
            </if>
            <if test="money != null">
                money= #{money,jdbcType=INTEGER},
            </if>
            <if test="virtualMoney != null">
                virtual_money= #{virtualMoney,jdbcType=INTEGER},
            </if>
            <if test="updateDate != null">
                update_date= #{updateDate,jdbcType=TIMESTAMP},
            </if>
        </set>
        where
        user_id = #{userId,jdbcType=BIGINT}
    </update>

    <select id="getAll" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="Base_Column_List" />
        from user_account where 1=1
        <include refid="Base_Where" />
    </select>
    <select id="pageCount" resultType="java.lang.Integer" parameterType="map">
        select count(1) from user_account where 1=1
        <include refid="Base_Where" />
    </select>
    <select id="pageData" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="Base_Column_List" />
        from user_account where 1=1
        <include refid="Base_Where" />
        order by create_date desc
    </select>
</mapper>
