<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="UserDeviceMapper" >
  <resultMap id="BaseResultMap" type="com.yxsd.kanshu.model.UserDevice">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="registration_id" jdbcType="VARCHAR" property="registrationId" />
    <result column="type" jdbcType="SMALLINT" property="type" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <sql id="Base_Where">
    <if test="userId != null"> and user_id= #{userId}</if>
    <if test="registrationId != null and registrationId != ''"> and registration_id= #{registrationId}</if>
    <if test="type != null"> and type= #{type}</if>
  </sql>
  <sql id="Base_Column_List">
    id, user_id, registration_id, type, create_date, update_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user_device
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from user_device
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yxsd.kanshu.model.UserDevice">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user_device (user_id, registration_id, type,
    create_date, update_date)
    values (#{userId,jdbcType=BIGINT}, #{registrationId,jdbcType=VARCHAR}, #{type,jdbcType=SMALLINT},
    #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.yxsd.kanshu.model.UserDevice">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user_device
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="registrationId != null">
        registration_id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="registrationId != null">
        #{registrationId,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=SMALLINT},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yxsd.kanshu.model.UserDevice">
    update user_device
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="registrationId != null">
        registration_id = #{registrationId,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=SMALLINT},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yxsd.kanshu.model.UserDevice">
    update user_device
    set user_id = #{userId,jdbcType=BIGINT},
    registration_id = #{registrationId,jdbcType=VARCHAR},
    type = #{type,jdbcType=SMALLINT},
    create_date = #{createDate,jdbcType=TIMESTAMP},
    update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="getAll" resultMap="BaseResultMap" parameterType="map">
    select
    <include refid="Base_Column_List" />
    from user_device where 1=1
    <include refid="Base_Where" />
  </select>
  <select id="pageCount" resultType="java.lang.Integer" parameterType="map">
    select count(1) from user_device where 1=1
    <include refid="Base_Where" />
  </select>
  <select id="pageData" resultMap="BaseResultMap" parameterType="map">
    select
    <include refid="Base_Column_List" />
    from user_device where 1=1
    <include refid="Base_Where" />
    order by create_date desc
  </select>
</mapper>